{% extends "base.html" %}

{% block title %}MERRILL - Micromagnetic Modelling{% endblock %}

{% block page_heading %}MERRILL - Micromagnetic Modelling{% endblock %}

{% block page_tagline %}
Open source 3D micromagnetics for rock and planetary magnetism
{% endblock %}

{% block content %}

    <h1>Welcome to MERRILL</h1>

    <p>
        MERRILL is an open source 3D micromagnetics software package with a simple scripting user interface that requires little computational knowledge from the user in order to model complex inhomogeous domain structures in magnetic materials.
    </p>

    <p>
        MERRILL uses the finite-element/boundary-element numerical method best suited for modelling irregular grain geometries that are of interest to the rock and paleomagnetic community. It is able to simulate a range of magnetic characteristics of both single grains and small assemblies of interacting grains. The open source nature of the code encourages future development of the model by the scientific community.
    </p>

    <h2>Get started</h2>
    <ul>
        <li><a href="/downloads">Download the latest MERRILL executables</a></li>
        <li><a href="/tutorials">Follow step-by-step tutorials</a></li>
        <li><a href="/publications">Explore key papers using MERRILL</a></li>
    </ul>

{% endblock %}
